body{
margin: 0;
padding: 0;
font-family: 'Roboto Slab', serif;
font-weight: bold;
}

.overlay-class{
position: fixed;
display: none;
width: 100%;
height: 100%;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(229, 229, 229, 0.9);
z-index: 20;
cursor: pointer;
}

@font-face {
    font-family: 'Harry Potter';
    font-style: normal;
    font-weight: 400;
    src: local('Harry Potter'), url('./HarryPotterFont.TTF') format('truetype');
}